body {
	text-align: justify;
}

h1 {
	background-color: darkolivegreen;
	border-radius: 2%;
}

.app {
	background-color: white;
	color: darkolivegreen;
}

h3 {
	color: dimgrey;
}

ul ol {
	list-style-type: none;
	float: left;
	align-items: center;
	padding-right: 10%;
}

h4 {
	text-decoration: underline;
	color: peru;
}

#entrar {
	position: absolute;
	bottom: 94%;
	left: 82%;
	width: 15%;
	height: 3%;
}

/* #salir {
	display: flex;
	bottom: 94%;
	left: 82%;
	width: 15%;
	height: 3%;
} */

.disponible {
	background-color: green;
	color: white;
	border: 5px;
}

.ocupado {
	background-color: red;
	color: white;
	border: 5px;
}
